:root{
    --primary-color: #000814;
    --secondary-color: #001d3d;
    --tertiary-color: #003566;
    --yellow1-color: #ffc300;
    --yellow2-color: #ffd60a;
}

*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}

.side-nav{
    width:130px;
    z-index: 1;
    top: 20px;
    left: 10px;
    overflow-x: hidden;
    float: left;
    display:block;
    flex-direction: column;
}

.main{
    background: var(--tertiary-colors);
    margin-top: 10px;
}

body{
    background-color: var(--secondary-color);
    font: normal 15px 'Crete Round', serif;
}

p{
    color: white;
    line-height: 20px;
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5{
    color: #fff;
    font-family: 'Crete Round', serif;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 20px;
}

h2{
    font-weight: 300;
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px; 
}

h3{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px; 
}

h4{
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px; 
}

h5{
    font-size: 15px;
    text-transform: uppercase; 
}

a{
    text-decoration: none;
    color: white; 
}

a:hover{
    color: var(--secondary-color);
}

.features{
    display: flex-box;
    flex-direction: row;
}

.feature-1, .feature-2, .feature-3{
   flex: auto;
}

strong{
    font-weight: bold;
}

small{
    font-size: 13px;
    color: var(--primary-color);
    font-style: italic;
}

.wrapper{
    margin: 0 auto;
    padding: 0 10px;
    width: 940px;
}

.head-section{
    width: 1170px;
    margin: auto;
}

header{
    height: 100px;
    background: #ffc300;
    background-size: cover;
    background-position: center center;
    position: relative;
}

header h1{
    float: left;
    margin-top: 35px;
}

header h1 .color{
    color: var(--black1-color);
}

.nav-bar{
    background: #ffd60a;
    border-radius: 1%;
    padding: 1%;
    float: right;
    list-style: none;
    margin: 5px 5px;
}

.nav-bar li{
    display: inline-block;
    margin-top: 10px;
}

.nav-bar li a{
    color: #fff;
    text-transform: uppercase;
    margin-right: 20px;
    font-weight: bold;
    display: block;
}

.nav-bar li a:hover{
    color: var(--secondary-color);
}


#main-img h2{
    margin: 180px 0 40px 0;
}

.btn-1{
    display: block;
    text-align: center;
    border: #fff;
    border-radius: 3px;
    color:#fff;
    width: 180px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    margin: 0 auto;
}

.btn-1:hover{
    background-color: var(--tertiary-color);
    color:#fff;
}

.logo img{
    width: 100px;
    float: left;
    margin: 15px;
    height: 40px 40px;
    border-radius: 49%;
}

.welcome-text{
    position: absolute;
    width: 600px;
    height: 200px;
    margin: 20% 30%;
    text-align: center;
}

.welcome-text h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
}

.welcome-text a{
    border: 2px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}

.welcome-text a:hover{
    background: #fff;
    color: #333;
}